@import url("style.css");

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  padding: 30px 0;
  width: 360px;
  height: auto;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

figcaption {
  line-height: 1.3rem;
}

h1 {
  color: #901c1c;
}

h2 {
  margin: 15px 0 10px 0;
  color: #d3573c;
  font-size: 36px;
}

h3 {
  margin: 0;
  color: #901c1c;
}

p {
  margin: 0;
  font-size: 0.8rem;
  color: #000;
}

figcaption p:nth-child(3) {
  color: #525252;
}

.modal-tools {
  position: absolute;
  top: 6%;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
}

.close-modal-tools {
  text-align: right;
}

.close-modal-tools button {
  padding: 4px 10px;
  width: auto;
}

.tech-infos {
  text-align: center;
}

.tech-infos li {
  font-size: 1.2rem;
  font-weight: 700;
  color: #901c1c;
  display: block;
}

.modal-tools-content {
  padding: 20px;
  width: 600px;
  height: auto;
  background-color: beige;
}
